div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#TextArt1
{
   border-width: 0;
   vertical-align: top;
}
#FileUpload1 *
{
   box-sizing: border-box;
}
#FileUpload1
{
   display: table;
   border-collapse: separate;
   margin: 0;
}
#FileUpload1 .form-control
{
   display: block;
   width: 100%;
   height: 26px;
   line-height: 18px;
   padding: 4px 4px 4px 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   color: #212529;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
}
#FileUpload1 .form-control
{
   position: relative;
   z-index: 2;
   float: left;
   width: 100%;
   margin-bottom: 0;
}
#FileUpload1 label
{
   display: inline-block;
   margin-bottom: 5px;
   font-weight: 700;
}
#FileUpload1 .input-group-btn, #FileUpload1 .form-control
{
   display: table-cell;
}
#FileUpload1 :first-child.form-control, #FileUpload1 :first-child.input-group-btn > .btn, #FileUpload1 :first-child.input-group-btn > .btn-group > .btn, #FileUpload1 :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn, #FileUpload1 :last-child.input-group-btn > :not(:last-child).btn-group > .btn
{
   border-bottom-right-radius: 0;
   border-top-right-radius: 0;
}
#FileUpload1 .input-group-btn
{
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
   position: relative;
   font-size: 0;
   white-space: nowrap;
}
#FileUpload1 .btn
{
   display: inline-block;
   margin-bottom: 0;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   color: #FFFFFF;
   white-space: nowrap;
   padding: 4px 8px 4px 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18px;
   border-radius: 4px;
   height: 26px;
}
#FileUpload1 .input-group-btn > .btn
{
   position: relative;
}
#FileUpload1-file:disabled ~ .btn
{
   background-color: #e9ecef;
   border-color: #DEE2E6;
   pointer-events: none;
   color: #DEE2E6;
}
#FileUpload1 :last-child.form-control, #FileUpload1 :last-child.input-group-btn > .btn, #FileUpload1 :last-child.input-group-btn > .btn-group > .btn, #FileUpload1 :first-child.input-group-btn > :not(:first-child).btn, #FileUpload1 :first-child.input-group-btn > :not(:first-child).btn-group > .btn
{
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
#FileUpload1 :last-child.input-group-btn > .btn, #FileUpload1 :last-child.input-group-btn > .btn-group
{
   margin-left: -1px;
}
#ThemeableButton1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButton1 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton1.ui-corner-all
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#ThemeableButton1.ui-corner-all
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#ThemeableButton1.ui-button
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   color: #FFFFFF;
}
#ThemeableButton1.ui-state-hover, #ThemeableButton1.ui-button:hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton1.ui-state-active, #ThemeableButton1.ui-button:active
{
   border-color: #0A53BE;
   background-color: #0A58CA;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButton2 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton2.ui-corner-all
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#ThemeableButton2.ui-corner-all
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#ThemeableButton2.ui-button
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   color: #FFFFFF;
}
#ThemeableButton2.ui-state-hover, #ThemeableButton2.ui-button:hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton2.ui-state-active, #ThemeableButton2.ui-button:active
{
   border-color: #0A53BE;
   background-color: #0A58CA;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButton3 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton3.ui-corner-all
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#ThemeableButton3.ui-corner-all
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#ThemeableButton3.ui-button
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   color: #FFFFFF;
}
#ThemeableButton3.ui-state-hover, #ThemeableButton3.ui-button:hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton3.ui-state-active, #ThemeableButton3.ui-button:active
{
   border-color: #0A53BE;
   background-color: #0A58CA;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButton4 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton4.ui-corner-all
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#ThemeableButton4.ui-corner-all
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#ThemeableButton4.ui-button
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   color: #FFFFFF;
}
#ThemeableButton4.ui-state-hover, #ThemeableButton4.ui-button:hover
{
   border-color: #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton4.ui-state-active, #ThemeableButton4.ui-button:active
{
   border-color: #0A53BE;
   background-color: #0A58CA;
   background-image: none;
   color: #FFFFFF;
}
